.landing{
    height: 500px;
    width:100%;
    background-image: url(../images/piza2.jpeg);
    background-size: cover;
}
#landing-button{
    height: 300px;
}
#pagebutton{
  text-align: center;
}
.downbut{
    margin-top: 240px;
}
#headpara{
    text-align: center;
    color: white;
    font-style: italic;
}
#pizzapics{
    height: 250px;
    margin-top: 20px;
    width: 100%;

}
#pizza1{
    background-image: url(../images/pizza1.jpeg);
    background-size: cover;
    border-radius: 10px;
}
#pizza2{
    background-image: url(../images/pizza2.jpeg);
    background-size: cover;
    border-radius: 10px;
}
#pizza3{
    background-image: url(../images/pizza3.jpeg);
    background-size: cover;
    border-radius: 10px;
}

#menu{
    margin-top: 40px;
}
.dierective{
   height: 40px;
   width: 100%;
   text-align: center;
   margin-top: 20px;
   padding-top: 5px;
   text-transform: capitalize;
}
.send{
   text-align: center;
   margin-top: 10px;
   height: 70px;
}
#viewbtn1{
    margin-top: 20px;
}
#viewbtn{
  margin-top: 2px;
}
#location{
     /* display: none;  */
     margin-top: 30px;
}
.chec{
    height: 50px;
    text-align: center;

}
.lastouput{
    margin-top: 10px;
}
.show-display{
    height: 100px;
}
#show-display{
    display: none;
    background-color:rgba(128, 128, 128, 0.082);
}